@charset "utf-8";

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.clicked, .collapsible:hover {
  background-color: #555;
}

.collapsibleContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '▼'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.clicked:after {
  content: '▲'; /* Unicode character for "minus" sign (-) */
}

.iconButton{
	background-color: transparent;
	border-color: transparent;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 12px;
}

.titleInput {
	border: none;
	border-bottom: 2px solid black;
	width: 50%;
	margin-bottom: 20px;
}

.descriptionInput {
	width: 80%;
	padding: 2px;
	margin-bottom: 20px;
}

.formField {
	font-size: 24px;
	margin-right: 10px;
}

.center_objects {
	display: flex; 
	justify-content: center;
}
#postButton {
    background-image: linear-gradient(135deg, #BE90C1 10%, #4D2D7E 100%);
	color: white;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 60px;
	font-family: "open-sans","sans-serif";
	font-size: 14px;
}

#cancelButton {
	color: white;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 20%;
    font-size: 14px;
    display: inline-block;
    border: 0;
    outline: 0;
	background-image: linear-gradient(135deg, #dc143c 10%, #840c24 100%);	color: white;
	font-family: "open-sans","sans-serif";

}

#draftButton {
	background-color: white;
	color: #4d2d7e;
	border-color: linear-gradient(135deg, #BE90C1 10%, #4D2D7E 100%);
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px; 
	margin-right: 2px;
	font-family: "open-sans","sans-serif";
	font-size: 14px;
}

#newButton {
    display: inline-block;
    border: 0;
    outline: 0;
	border-color: linear-gradient(135deg, #556b2f 10%, #3b4b21 100%);
	background-image: linear-gradient(135deg, #556b2f 10%, #3b4b21 100%);	
	color: white;
	border-radius: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "open-sans","sans-serif";
	font-size: 14px;
}

.left_col {
	float: left;
	width: 75%;
}

.right_col {
	float: left;
	width: 25%;
}
